
<ion-view view-title="Classroom - Pluralcode" hide-back-button="true">



 
<ion-content style="background: #ebebeb">
<br><br>
<br><br>
<br><br>

	<div class="row my_darkpanel" style="margin-bottom: 0px;border:none;">
	<div class = "row" style="margin-top: 10px;margin-bottom: 10px;font-weight: bold;">
   <div class = "col col-10"><i class="icon ion-clock"></i> </div>
   <div class = "col col-70">Lecture Name</div>
   <div class = "col col-20" style="margin-top: 0px;padding-top: 0px"><span style="background: #679dfd;color: white;padding: 10px;border-radius: 4px">Resume</span></div>
</div>
	
		
	</div>



<div class="card">
   <div class="item item-divider">
      <h2 style="font-size: 20px;font-weight: lighter;">ENROLLED COURSES</h2>

   </div>

   <div class="item-body" style="padding: 0px 0px 0px 0px !important" ng-click="view({{course.course_id}})" ng-repeat="course in enrolled_courses">


	          <ion class="item item-thumbnail-left">
         
             <img src="{{course.icon}}"/> 
             <div class="row">
                   <div class="col col-90"> 
                   
                   
                  <h2 style="text-transform: capitalize !important; font-size: 18px;font-weight: 600">
                      {{course.title}}
                  </h2>
                  <h5 style="text-transform: capitalize !important; font-size: 16px;font-weight: lighter;">
                  Completed {{course.num_of_chapters_completed}}/{{course.num_of_chapters}} chapters
                  </h5>
                  <h5 style="text-transform: capitalize !important; font-size: 15px;">
                  </h5>
                 </div>
                 <div class="col col-10">
                 <br>

                   <i class="icon ion-chevron-right" style="float: right;
    margin-top: 5px;"></i>
                 </div>
           </div>
          </ion>

</div>
</div>


<div class="card">
   <div class="item item-divider">
      <h2 style="font-size: 20px;font-weight: lighter;">MORE COURSES</h2>

   </div>

   <div class="item-body" style="padding: 0px 0px 0px 0px !important"  ng-repeat="course in more_courses" ng-click="enroll({{course.course_id}})">


	          <ion class="item item-thumbnail-left">
         
             <img src="{{course.icon}}"/> 
             <div class="row">
                   <div class="col col-90"> 
                   
                   
                  <h2 style="text-transform: capitalize !important; font-size: 18px;font-weight: 600">
                      {{course.title}}
                  </h2>
                  <h5 style="text-transform: capitalize !important; font-size: 16px;font-weight: lighter;">
                  
                  </h5>
                  <h5 style="text-transform: capitalize !important; font-size: 15px;">
                  </h5>
                 </div>
                 <div class="col col-10">
                 <br>

                   <i class="icon ion-chevron-right" style="float: right;
    margin-top: 5px;"></i>
                 </div>
           </div>
          </ion>

</div>
</div>
<br>


<center></center>

</ion-content>
</ion-view