
<ion-view view-title="My Profile" hide-back-button="false" >
	
<ion-content style="background: #f1f1f1">

		<div class="row">
			<div class="profileavatar">

			<center>
      		<img src="/images/user_avatar.jpeg">
      		</center>
      		<div class="editn">
															{{fullname}}
      		</div>
      		 
      		<br>
  			 </div>
		</div>

<div class="row mgspacer">
	 <div class = "col col-20">
	<i class = "icon ion-android-call proicon"></i></div>
   <div class = "col col-70 procontent">{{phone}}</div>
   <div class = "col col-10" style="margin-top: 0px;padding-top: 0px">
   </div>
</div>

<div class="row mgspacer">
	 <div class = "col col-20">
	<i class = "icon ion-ios-email proicon"></i></div>
   <div class = "col col-70 procontent"> {{email}} </div>
   <div class = "col col-10" style="margin-top: 0px;padding-top: 0px">
   	</div>
</div>

<div class="row mgspacer">
	 <div class = "col col-20">
	<i class = "icon ion-ios-locked proicon"></i></div>
   <div class = "col col-70 procontent">***********</div>
   <div class = "col col-10" style="margin-top: 0px;padding-top: 0px">
   	<div class="editcp">
   			<i class="icon ion-edit"></i>
      		</div></div>
</div>



	
	<br>

	<div class="row my_darkpanel" style="margin-bottom: 0px">
	<div class = "row" style="margin-top: 10px;margin-bottom: 10px;font-size: 20px;font-weight: bold;">
   
   <div style="margin: 0 auto"> <center><i class = "icon ion-ios-bookmarks" style="color: #3c3c3c;
    margin-right: 60px;
    font-size: 30px;
    left: 70px;
    position: absolute;
    margin-top: -5px;"></i> Courses Enrolled</center></div>
 
</div>
	
		
	</div>
	<br>




    	<div class="row" style="font-size: 20px">
    	<div class="col col-25" style="background: #e62f06;border-radius:5px; font-size: 20px;color: white;font-weight: 700;text-align: center;padding: 8px">
    	JAVA
    	</div>
    	<div class="col col-75" ><p style="margin-top: 4px;font-weight: 700;">Java Fundamentals</p>
    	</div>
    	</div>


    	<div class="row" style="font-size: 20px;margin-top: 10px">
    	<div class="col col-25" style="background: #292538;border-radius:5px; font-size: 20px;color: white;font-weight: 700;text-align: center;padding: 8px">
    	Python
    	</div>
    	<div class="col col-75"><p style="margin-top: 4px;font-weight: 700;">Java Fundamentals</p>
    	</div>
    	</div>
	
	
<br>
	<div class="row" style="background: #3c3c3c; font-size: 20px;margin-top: 8px;color: #d2d2d2">
		<div class="col col-20">
					<i class="icon ion-log-out" style="float: center;font-size: 30px;margin-left: 3px"></i></div>
    	<div class="col col-80"><p style="margin-top: 4px;font-weight: 700;">Logout</p></div>
	</div>



</ion-content>
</ion-view