
<ion-view view-title="Community - Pluralcode" hide-back-button="true" hide-nav-bar="true">



 
<ion-content style="background: #fafafa">
<div style="    background: #21de0b;
    width: 100%;
    height: 200px;
    text-align: center;
    padding-top: 20px;
    color: white;
">
<br><br><br>
  <h2 style="color: white">Success!</h2>
  <h5 style="color: white"></h5>
    
  </div>
  <br><Br>
<div style="margin-top: 0px; padding: 20px; margin: 0 auto">
<center>
<h3>Payment of:</h3>
<br>
<br>
  <div class="rubbiesholder" style="display: inline-block;"><img src="/images/rubbies.png"/></div> 
  <div class="inputcontainer" style="display: inline-block;margin-left: 10px;font-weight: 700;font-size: 18px">
    30 Rubbies
  </div>
  <Br><Br>
  <h3>Was successful</h3>
  </center> 
</div>


<div>


</div>
<Br><Br>
<center>

   <button class="button" style="background: #21de0b;color: white;width: 80%;margin-top: 20px;margin: 0 auto">
Go back to homepage
  </button>
</center>

</ion-content>
</ion-view