<ion-view view-title="Signup" hide-back-button="true" hide-nav-bar="true">
	<ion-content class="padding slides">
	<!--I AM ABOUT TO USE THE LOGIN CODE PROTOTYPE HERE-->
	<div style="padding-top: 5%">
      <h3 style="font-weight: 100; color: white">Sign Up</h3>
      <br>
      <p>Name:</p>
          <label class="item item-input">
              <input type="text" placeholder="Name" ng-model="details.name">
          </label><br>
        <p>Email:</p>
          <label class="item item-input">
              <input type="email" placeholder="Email" ng-model="details.email">
          </label><br>
          <p>Telephone:</p>
          <label class="item item-input">
              <input type="text" placeholder="Telephone" ng-model="details.phone_number">
          </label><br>
          <p>Password:</p>
          <label class="item item-input">
              <input type="password" placeholder="Password" ng-model="details.password">
          </label><br>
      <p>Confirm Password:</p>
          <label class="item item-input">
              <input type="password" placeholder="Password again" ng-model="details.confirm_password">
          </label>
      </div>
      <button class="button button-block" style="    border-bottom: 5px solid #907b06;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    background-color: #d4b50a;
    color: #fff;" ng-click="next()">Next</button>
      <br><br>
      <p ng-click="login()" style="text-align: center;">Already have an account? <b>Login Now</b></p>
		
	</ion-content>
</ion-view>
