<ion-view view-title="View Chapter" hide-back-button="false">
	<ion-content style="background: #ebebeb">

  <div class="row" style="background: white">
    <div class="col col-25" style="background: #204056;border-radius: 2px; padding: 10px;padding-top: 20px; color: white;
    font-size: 20px;height: 60px; font-weight: lighter; text-align: center;">
      HTML
    </div>
    <div class="col col-60" style="padding: 10px; font-size: 18px;height: 60px;padding-top: 20px ">
      {{chapter.chapter_detail.title}}

      <br>

    </div>
        <div class="col col-15">
                 <br>

                   <i class="icon ion-chevron-right" style="float: right;
    margin-top: 5px;"></i>
                 </div>
  </div>         
             
<Br>


            <ion class="item item-thumbnail-left" style="width: 95%;margin: 0 auto;margin-bottom: 10px" ng-repeat="lesson in chapter.lesson_details">
         
             <img src="/images/code_editor.jpeg"/> 

                   <div  style="padding-top: 15px"> 
                   
                   
                  <h2 style="text-transform: capitalize !important; font-size: 18px;font-weight: lighter;">
                     {{lesson.title}}
                  </h2>

                 </div>
                
           </div>
          </ion>

            
          
          	         
          
                    
	</ion-content>
</ion-view>
