<ion-view view-title="View Chapter" hide-back-button="false">
	<ion-content style="background: #ebebeb">

  <div class="row" style="background: white">
    <div class="col col-25">
     <img src= {{chapter.chapter_detail.icon}} />
    </div>
    <div class="col col-60" style="padding: 10px; font-size: 18px;height: 60px;padding-top: 20px ">
      {{chapter.chapter_detail.title}}

      <br>

    </div>
        <div class="col col-15">
                 <br>

                   <i class="icon ion-chevron-right" style="float: right;
    margin-top: 5px;"></i>
                 </div>
  </div>         
             
<Br>


				<ion class="item item-thumbnail-left" style="width: 95%;margin: 0 auto;margin-bottom: 10px" ng-click="load_content(lesson.lesson_id, {{chapter.chapter_detail.chapter_id}})" ng-repeat="lesson in chapter.lesson_details">
								 
             <img src="{{lesson.icon}}"/> 

                   <div  style="padding-top: 15px"> 
                   
                   
                  <h2 style="text-transform: capitalize !important; font-size: 18px;font-weight: lighter;">
                     {{lesson.title}}
                  </h2>

                 </div>
                
           </div>
          </ion-content>

            
          
          	         
          
                    
	</ion-content>
</ion-view>
