
<ion-view view-title="Community - Pluralcode" hide-back-button="false">



 
<ion-content style="background: #fafafa">
 <div class="item item-input" style="background: #679dfd;font-size: 30px; height:70px;color: white">
               <span style="margin-left: 10px"> Q&amp;A Discussions</span>
          </div>
<br>
<div style="margin-top: 7px;margin-bottom: 0px;font-size: 20px;font-weight: lighter;padding: 7px 12px 0px 12px">

   <div style="width: 100%"> I am finding it hard to run my PHP server correctly on my WAMP. Would XAMP save me the stress instead?<br>

</div> 

<p style="background: #679dfd;padding:8px; width:auto;text-align:center;color: white;display:inline-block;font-size: 14px;margin-top: 10px;border-radius: 4px">PHP</p>

<p style="background: #679dfd;padding:8px; width:auto;text-align:center;color: white;display:inline-block;font-size: 14px;margin-top: 10px;border-radius: 4px">WAMP</p>

<p style="background: #679dfd;padding:8px; width:auto;text-align:center;color: white;display:inline-block;font-size: 14px;margin-top: 10px;border-radius: 4px">WIN 8</p>
 <br>
  <div><div style="background: #6d6c6c;padding:8px;display:inline-block;text-align:center;color: white;border-radius:3px;font-size: 18px;font-weight: bolder;">Seyi</div> <span>9 hrs ago</span></div>
<hr style="background-color: #e2e2e2 !important;margin-top: 0px;">
</div>

<div class="row" style="background: #e2e2e2; height: 50px; width: 100%;padding: 4px; padding-left: 5%;color: #4c4242">

  <div class = "col col-70">
<h4>19 ANSWERS</h4></div>

   <div class = "col col-30">
    <div class="addnew" style="    padding: 4px;
    padding-left: 5%;
    padding-right: 8px;
    background: rgb(128, 128, 128);
    z-index: 1000;
    text-align: center;
    font-size: 18px;"><span style=" color:white; vertical-align: text-top;">Add Comment</span>
</div>
   </div>
 
</div>


<div style="margin-bottom: 0px;font-size: 20px;font-weight: lighter;padding: 7px 12px 0px 12px">

   <div style="width: 100%"> Maybe you should try restarting your system.<br>

</div> 
<br>
  <div><div style="background: #6d6c6c;padding:8px;display:inline-block;text-align:center;color: white;border-radius:3px;font-size: 18px;font-weight: bolder;">Olamide</div> <span>6 hrs ago</span></div>
<hr style="background-color: #e2e2e2 !important;margin-top: 0px;">

</div>



<div style="margin-bottom: 0px;font-size: 20px;font-weight: lighter;padding: 7px 12px 0px 12px">

   <div style="width: 100%"> What OS are you running on your system?<br>

</div> 
<br>
  <div><div style="background: #6d6c6c;padding:8px;display:inline-block;text-align:center;color: white; border-radius:3px;font-size: 18px;font-weight: bolder;">Funke</div> <span>5 hrs ago</span></div>
<hr style="background-color: #e2e2e2 !important;margin-top: 0px;">
</div>


<div style="margin-bottom: 0px;font-size: 20px;font-weight: lighter;padding: 7px 12px 0px 12px">

   <div style="width: 100%"> What OS are you running on your system?<br>

</div> 
<br>
  <div><div style="background: #6d6c6c;padding:8px;display:inline-block;text-align:center;color: white; border-radius:3px;font-size: 18px;font-weight: bolder;">Funke</div> <span>5 hrs ago</span></div>
<hr style="background-color: #e2e2e2 !important;margin-top: 0px;">
</div>


<div style="margin-bottom: 0px;font-size: 20px;font-weight: lighter;padding: 7px 12px 0px 12px">

   <div style="width: 100%"> What OS are you running on your system?<br>

</div> 
<br>
  <div><div style="background: #6d6c6c;padding:8px;display:inline-block;text-align:center;color: white; border-radius:3px;font-size: 18px;font-weight: bolder;">Funke</div> <span>5 hrs ago</span></div>
<hr style="background-color: #e2e2e2 !important;margin-top: 0px;">
</div>
<div style="margin-bottom: 0px;font-size: 20px;font-weight: lighter;padding: 7px 12px 0px 12px">

   <div style="width: 100%"> What OS are you running on your system?<br>

</div> 
<br>
  <div><div style="background: #6d6c6c;padding:8px;display:inline-block;text-align:center;color: white; border-radius:3px;font-size: 18px;font-weight: bolder;">Funke</div> <span>5 hrs ago</span></div> <hr style="background-color: #e2e2e2 !important;margin-top: 0px;">
</div>


</ion-content>
</ion-view