<ion-view view-title="Code Editor" hide-back-button="false">

	<ion-content>
	<div style="background: #f2f2f2">
	<br>
	<center>
	<span style="background: #679dfd; border-radius:3px;color: white;font-weight: 700;text-align: center;padding: 8px"> 
	<i class="icon ion-ios-folder-outline" style="font-size: 25px"></i> <text style="margin-left: 2px">Saved Work </text> </span>


	<span style="background: #679dfd; margin-left:10px;border-radius:3px;color: white;font-weight: 700;text-align: center;padding: 8px;width: 90px"> 
	<i class="icon ion-android-open" style="font-size: 25px"></i> <text style="margin-left: 2px">Open File </text> </span>
	</center>
	<br>
	<br>
	</div>
		<label class = "item item-input item-select" style="height: 40px">
   <select name="mySelect" id="mySelect"
      ng-options="option.name for option in data.availableOptions track by option.id"
      ng-model="data.selectedOption" style="left:0 !important"></select>   
      <div class = "input-label">
      
  	  </div>
	

</label>
		 <textarea id="code" ng-model="script"></textarea>
		
		<div style="position: absolute;top: 87%;width: 100%; height: 70px; background: #387ef5;z-index: 9999">
<div class = "row" style="color: white;text-align: center;">
   <div class = "col" ng-click="savework()"><i class="icon ion-ios-folder" style="font-size: 22px;font-weight: 700"></i> <br/>Save</div>
   <div class = "col"></div>
   <div class = "col"><i class="icon ion-android-share-alt" style="font-size: 22px;font-weight: 700"></i> <br/>Share</div>
   <div class = "col"></div>
   <div class = "col"><i class="icon ion-play" style="font-size: 22px;font-weight: 700"></i> <br/>Run</div>
   <div class = "col"></div>
   <div class = "col"><i class="icon ion-upload" style="font-size: 22px;font-weight: 700"></i> <br/>Submit Project</div>
 </div>
</div>
	</ion-content>
</ion-view>
