
<ion-view view-title="Community - Pluralcode" hide-back-button="true">



 
<ion-content style="background: #fafafa">
 <div class="addnew" style="    padding: 4px;
    padding-left: 8px;
    padding-right: 8px;
    background: rgb(128, 128, 128);
    width: 100%;
    z-index: 1000;
    text-align: center;
    font-size: 18px;
    color: white;" ui-sref="tabs.code_editor"><span style=" color:white; vertical-align: text-top;" >Add Code</span>
</div>
<center>
<label class="item item-input" style="background: #e9e9e9">

              <label class="item item-input item-select" style="color: black;width: 95%; background: #e9e9e9;border:2px solid #cac8c8">
                &nbsp; 
                  <select style="padding: 0px 0px 0px 0px !important;right:40% !important; float: left; background: #e9e9e9">
                      <option>My Published Code</option>
                      <option>All</option>
                      <option >Trending</option>
                      <option>Html</option>
                      <option>Python</option>  
                      <option>Java</option>                      
                  </select>
              </label>
          </label>
</center>
<div class="projectlisting">
      <div class = "row" style="margin-top: 7px;margin-bottom: 0px;font-size: 20px;font-weight: lighter;">
         <div class = "col col-20" style="font-size: 14px"><div style="background: #679dfd;padding:21% 8px 8px 8px; width: 100%; height: 45px; text-align:center;color: white;font-size: 18px">Py</div>
         Python</div>
         <div class = "col col-60">Hello, i am new here<br>
         <hr style="border: 0;
          height: 2px;
          background-color: transparent;
          margin-bottom: 0;
          margin-top: 1px;">

         <span style="font-size: 14px;color: #adadad;">
          <i style="font-size: 22px" class="icon ion-thumbsup"></i>
         <span style="font-size: 16px;font-weight: 700; margin-left: 5px;margin-right: 10px">4 </span>


          <i style="font-size: 22px" class="icon ion-thumbsdown"></i>
         <span style="font-size: 16px;font-weight: 700; margin-left: 5px;margin-right: 10px">4 </span>
         
         </span>
         
         </div>

         <div class = "col col-20"><span style="font-size: 13px;">08/12/2016<br><i style="font-size: 22px" class="icon ion-person"></i><span style="font-size: 18px;"> Seyi</span></span>
         </div>
      </div>

      <hr style="background-color: #f2f2f2 !important;margin-top: 0px;">
</div>


<div class="projectlisting">
      <div class = "row" style="margin-top: 7px;margin-bottom: 0px;font-size: 20px;font-weight: lighter;">
         <div class = "col col-20" style="font-size: 14px"><div style="background: #679dfd;padding:21% 8px 8px 8px; width: 100%; height: 45px; text-align:center;color: white;font-size: 18px">Py</div>
         Python</div>
         <div class = "col col-60">Hello, i am new here<br>
         <hr style="border: 0;
          height: 2px;
          background-color: transparent;
          margin-bottom: 0;
          margin-top: 1px;">

         <span style="font-size: 14px;color: #adadad;">
          <i style="font-size: 22px" class="icon ion-thumbsup"></i>
         <span style="font-size: 16px;font-weight: 700; margin-left: 5px;margin-right: 10px">4 </span>


          <i style="font-size: 22px" class="icon ion-thumbsdown"></i>
         <span style="font-size: 16px;font-weight: 700; margin-left: 5px;margin-right: 10px">4 </span>
         
         </span>
         
         </div>

         <div class = "col col-20"><span style="font-size: 13px;">08/12/2016<br><i style="font-size: 22px" class="icon ion-person"></i><span style="font-size: 18px;"> Seyi</span></span>
         </div>
      </div>

      <hr style="background-color: #f2f2f2 !important;margin-top: 0px;">
</div>


<div class="projectlisting">
      <div class = "row" style="margin-top: 7px;margin-bottom: 0px;font-size: 20px;font-weight: lighter;">
         <div class = "col col-20" style="font-size: 14px"><div style="background: #679dfd;padding:21% 8px 8px 8px; width: 100%; height: 45px; text-align:center;color: white;font-size: 18px">Py</div>
         Python</div>
         <div class = "col col-60">Hello, i am new here<br>
         <hr style="border: 0;
          height: 2px;
          background-color: transparent;
          margin-bottom: 0;
          margin-top: 1px;">

         <span style="font-size: 14px;color: #adadad;">
          <i style="font-size: 22px" class="icon ion-thumbsup"></i>
         <span style="font-size: 16px;font-weight: 700; margin-left: 5px;margin-right: 10px">4 </span>


          <i style="font-size: 22px" class="icon ion-thumbsdown"></i>
         <span style="font-size: 16px;font-weight: 700; margin-left: 5px;margin-right: 10px">4 </span>
         
         </span>
         
         </div>

         <div class = "col col-20"><span style="font-size: 13px;">08/12/2016<br><i style="font-size: 22px" class="icon ion-person"></i><span style="font-size: 18px;"> Seyi</span></span>
         </div>
      </div>

      <hr style="background-color: #f2f2f2 !important;margin-top: 0px;">
</div>
</ion-content>
</ion-view