
<ion-view view-title="Welcome To Pluralcode" hide-nav-bar="true">
  <ion-content style="background: #f2f2f2">
  <div style="background: #679dfd;width: 100%; height: 220px;text-align: center;padding-top: 130px;color: white;">

  <h2 style="color: white">Save your code</h2>
    
  </div>

  <div class="wrapper">
  <label class="item item-input" style="background: transparent;border-bottom: transparent;border-bottom: 2px solid black;width: 100%;margin: 0 auto">
      <input class="" type="text" placeholder=" Type title here..." ng-model="data.username" style="background: transparent;">               
  </label>
  <h4 style="margin-left: 20px">Title</h4>


  <center>
  <button class="button" style="background:#679dfd;color: white;width: 95%;margin-top: 20px">
   <i class="icon ion-ios-folder" style="font-size: 22px;font-weight: 700"></i>  <span style="    font-size: 20px;
    margin-top: 12px;
    display: inline-block;
    margin-left: 5px;">Save</span>
  </button>
  </center>
  </div>
  </ion-content>
</ion-view>
