
<ion-view view-title="Credit or Debit" hide-back-button="false">



 
<ion-content style="background: #fafafa">
<div style="    background: #679dfd;
    width: 100%;
    height: 140px;
    text-align: center;
    padding-top: 20px;
    color: white;
">
<br>
  <h2 style="color: white">Pay via credit <Br>or debit card</h2>
  <h5 style="color: white"></h5>
    
  </div>
<div style="margin-top: 0px; padding: 20px; margin: 0 auto">
<center>
  <div class="rubbiesholder" style="display: inline-block;"><img src="/images/rubbies.png"/></div> 
  <div class="inputcontainer" style="display: inline-block;margin-left: 10px;font-weight: 700;font-size: 18px">
    30
  </div>
  </center> 
</div>


<div>


</div>
<center><br>
  <p style="text-align: center;">Debit/Credit Card 18 digits number</p>
  </center>

  <label class="item-input" style="background: transparent;border: 2px solid black;border-radius:5px;width:80%;margin: 0 auto">
      <input class="" type="text"  ng-model="data.username" style="background: transparent;">               
  </label>
<br><Br>
    <p style="text-align: center;">CCV</p>
  </center>

  <label class="item-input" style="background: transparent;border: 2px solid black;border-radius:5px;width:80%;margin: 0 auto">
      <input class="" type="text"  ng-model="data.username" style="background: transparent;">               
  </label>
<br><Br>
  <p style="text-align: center;">Debit/Credit Card Pin</p>
  </center>

  <label class="item-input" style="background: transparent;border: 2px solid black;border-radius:5px;width:80%;margin: 0 auto">
      <input class="" type="text"  ng-model="data.username" style="background: transparent;">               
  </label>

<br>
<br>
<center>

   <button class="button" style="background:rgb(254, 153, 0);color: white;width: 80%;margin-top: 20px;margin: 0 auto">
  Buy now using your debit card
  </button>
</center>

</ion-content>
</ion-view